@model IEnumerable<ToDoList.Models.Task>

@{
    ViewBag.Title = "Index";
}
<h2>Overdue Tasks</h2>
@{ 
    Html.RenderPartial("Reminders");
}

<h2>All Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.List.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripton)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsDone == false)
        {
            <tr>
                <td>

                    <a href="@Url.Action("ToggleDone", new { id = item.ID })">
                        @if (item.IsDone)
                    {
                            <span class="glyphicon glyphicon-check"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-unchecked"></span>
                        }
                    </a>
                </td>
    
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>*@

        <td>
            @Html.DisplayFor(modelItem => item.List.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripton)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>   
    }
}

</table>
<hr />
<h2>Completed Tasks</h2>
@{
    Html.RenderPartial("CompletedTask");
}